<div class="card-wrapper">
  <div class="edit-profile">
    <mat-icon (click)="toggleFlip()" [@flipState]="flip">rotate_left</mat-icon>
  </div>
  <div class="card-box" [@flipState]="flip">
    <!--First View-->
    <div class="card-box__side card-box__front">
      <div class="profile-card">
        <div class="image-container">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt="profile.jpg"
          />
        </div>
        <div class="user-info">
          <div>
            <span> {{ firstName }} </span>
          </div>
          <div>
            <span>{{ lastName }}</span>
          </div>
          <div>
            <mat-icon> location_on</mat-icon>
            <span>{{ officeLocation }}</span>
          </div>
        </div>
      </div>
    </div>
    <!--Second View-->
    <div class="card-box__side card-box__back">
      <div class="image-container">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          alt="profile.jpg"
        />
      </div>
      <div>
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          [formGroup]="editProfile"
          (ngSubmit)="onFormSubmit()"
        >
          <mat-form-field>
            <input
              formControlName="firstName"
              type="text"
              matInput
              placeholder="Enter your first name"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="lastName"
              type="text"
              matInput
              placeholder="Enter your last name"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              formControlName="officeLocation"
              type="text"
              matInput
              placeholder="Enter your office"
            />
          </mat-form-field>
          <div class="buttons-container">
            <button>Cancel</button>
            <button type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
